LOCAL_DOMAIN=boy.s.cz
SINGLE_USER_MODE=false
SECRET_KEY_BASE=dffc9c422dbc291faefc739a7bf5589508778825ea1143e40299e0d50c234012e0f5caa2c5477bb9c3f1d62a9e4abc8a697ec90a532fa5efdd14953a110f7aed
OTP_SECRET=52eda4f2aec5249347a8db9b09f30a3b9a1fa370d7651ca29ec745c9c3a5e316d35dab2b664d476228ad444e15b42a5eb60df43f0eaf39c54ca0c22e464135fd
VAPID_PRIVATE_KEY=aZiWxd12vki7iWVKVmJzPKExeUyOJ18PCD_iklO-lrc=
VAPID_PUBLIC_KEY=BK8RmRkluHTJEkjM0pMf7bYLcWnvDwHl5A_qFIIEhw-2XqPOGMV-kYuh6VdML8pN-MFPbNFovGHRCvH2TwfE2mQ=
DB_HOST=/var/run/postgresql
DB_PORT=5432
DB_NAME=mastodon_production
DB_USER=mastodon
DB_PASS={{ mastodon_db_password }}
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_SERVER=mail.studioiq.cz
SMTP_PORT=587
SMTP_LOGIN=f@simonformanek.cz
SMTP_PASSWORD=slovokoloveze3lvy
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_ENABLE_STARTTLS=auto
SMTP_FROM_ADDRESS='Mastodon <notifications@boy.s.cz>'
