LOCAL_DOMAIN={{ mastodon_server_domain }}
SINGLE_USER_MODE=false
SECRET_KEY_BASE={{ secret_key_base }}
OTP_SECRET={{ otp_secret }}
VAPID_PRIVATE_KEY={{ vapid_private_key }}
VAPID_PUBLIC_KEY={{ vapid_private_keu }}
DB_HOST=/var/run/postgresql
DB_PORT=5432
DB_NAME=mastodon_production
DB_USER=mastodon
DB_PASS={{ mastodon_db_password }}
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port | default(587) }}
SMTP_LOGIN={{ smtp_login }}
SMTP_PASSWORD={{ smtp_password }}
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_ENABLE_STARTTLS=auto
SMTP_FROM_ADDRESS='Mastodon <notifications@{{ mastodon_server_domain }}>'
